
html,
body {
    height: 100%;
    color: #333;
    background: #fff;
}

h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
  padding:0;
}

ul,li {    
    list-style: none;
}



/* 全局样式 */
#root,.app {
    height: 100%;
    }
     /* Map组件样式 */
    .mapBox,#container {
    height: 100%;
    }


* {
    touch-action: pan-y;
    touch-action: none; 
    box-sizing: border-box; 
}

